:root {
  --gui_width: 180px;
  --selection_button_font_size: 14px;
  --selection_button_heigt: 25px;
  --selection_button_width: 150px;
}

body {
  display: block;
  margin: 0px; /* A margin larger than zero here will mess up selection. */
}

#main_body {
  background-color: #000000;
  margin: 0px;
  width: calc(100% - var(--gui_width));
  height: 100vh;
  overflow: hidden;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;
}

#gui_body {
  float: right;
  width: var(--gui_width);
  height: 100vh;
  background-color: #80B2B2;
}

#gui-box-title
{
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom:11px;
  font-weight: bold;
  background-color: #568f8f;
}

#gui-box
{
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #609f9f;
}

#gui-radio-label
{
  font-weight: normal;
}

#getSelectionsButton
{
  font-size: var(--selection_button_font_size);
  height: var(--selection_button_heigt);
  width: var(--selection_button_width);
  margin-top: 10px;
}

#poissonButton
{
  background-color: #B28080;
  font-size: var(--selection_button_font_size);
  height: var(--selection_button_heigt);
  width: var(--selection_button_width);
  margin-top: 10px;
}

#voltmeterButton
{
  background-color: #BDB280;
  font-size: var(--selection_button_font_size);
  height: var(--selection_button_heigt);
  width: var(--selection_button_width);
  margin-top: 10px;
}

#spikeDetectorButton
{
  background-color: #809980;
  font-size: var(--selection_button_font_size);
  height: var(--selection_button_heigt);
  width: var(--selection_button_width);
  margin-top: 10px;
}

#info {
  color: #fff;
  position: absolute;
  top: 5px;
  width: calc(100% - var(--gui_width));
  padding: 5px;
  z-index: 100;
}

#select-square {
  position:absolute;
  /* initialize it offscreen */
  top: -2px;
  left: -2px;
  z-index: 50;
  height: 0px;
  width: 10px;
  background-color: #ffccff;
  opacity: .4;
  border: dotted 1px #9a9a9a;
  margin: 0;
  padding: 0;
  pointer-events:none;
  border-radius: 0%;
}

.dropdown{
  font-size: 14px;
  height: 25px;
  width: 150px;
}

.radiobutton{
  text-align: left;
  padding-left: 30px;
  font-size: 22px;
  color: #373737;
}