<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NESTConnectionApp</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/NESTConnectionApp_css.css" />
	</head>

	<body>

        <div id="select-square"></div>

		<div id="main_body">
			<div id="info">
				NEST Connection App
				<div id="infoselected"></div>
				<div id="layer_name"></div>
			</div>
		</div>



		<div id="gui_body" ng-app="myApp" ng-controller="myCtrl" >
	        <div id="gui-box">
	            <div id="gui-box-title">
	                Shape
	            </div>

	            <div ng-repeat="shape in shapes" style="padding-bottom:1px">
		            <label id="gui-radio-label" >
		                <input class="gui-radio" type="radio"
		                    ng-model="currentValues.currentShape" ng-value="shape" ng-change="setShape(shape)">{{shape}}
		            </label>
	            </div>
	        </div>

	        <div id="gui-box">
	            <div id="gui-box-title">
	                Distribution
	            </div>

	            <div ng-repeat="dist in distributions" style="padding-bottom:1px">
		            <label id="gui-radio-label" >
		                <input class="gui-radio" type="radio"
		                    ng-model="currentValues.currentDistribution" ng-value="dist" ng-change="setDistribution(dist)">{{dist}}
		            </label>
	            </div>
        	</div>

        	<div id="gui-box">
	            <div id="gui-box-title">
	                Display
	            </div>

	            <div ng-repeat="display in displays" style="padding-bottom:1px">
		            <label id="gui-radio-label" >
		                <input class="gui-radio" type="radio"
		                    ng-model="currentValues.currentDisplay" ng-value="display" ng-change="setDisplay(display)">{{display}}
		            </label>
	            </div>
	        </div>
       	</div>



		<script src="js/three.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/Detector.js"></script>
		<script src="js/OrbitControls.js"></script>
		<script src="js/dat.gui.min.js"></script>
		<script src="examples/brunel_js.js"></script>
		<script src="js/plotAndSelect.js"></script>

		<script src="js/angular.js"></script>
		<script src="js/GUI.js"></script>
	</body>
</html>s
