<!DOCTYPE html>
<html lang="en">
<head>
  <title>NESTInstrumentationApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="static/css/NESTInstrumentationApp_css.css"/>
  <link rel="stylesheet" href="static/css/devicePlots.css"/>
</head>

<body>

<div id="loadingOverlay">
  <div id="loadingText"></div>
</div>

<div class="unselectable" id="main_body">
  <div id="info">
    NEST Instrumentation App
    <div id="infoselected"></div>
    <div id="infoconnected"></div>
  </div>
  <div id="select-square"></div>
  <div id="spikeTrain"></div>
  <div id="LFPplot"></div>
  <div id="coordinateHelper"></div>
</div>

<div id='startButtons'>
  <h3>Choose a model</h3>
  <div id='modelButtons'>
    <button class='button start' id='brunel'>Brunel</button>
    <button class='button start' id='hillTononi'>Hill-Tononi</button>
    <button class='button start' id='brunel3Dqr'>Brunel 3D (quasi random)</button>
    <button class='button start' id='hillTononi3D'>Hill-Tononi 3D</button>
    <button class='button start' id='potDies'>Potjans-Diesmann</button>
    <input id="loadLayer" type="file" value="Import" style="display: none;"/>
    <button class='button start' id='LFP'>LFP</button>
    <button class='button start' id='loadStorage'>Load from storage</button>
    <button class='button start' id='loadOwn'>Load your own</button>
  </div>
  <p id='version'>{{ version }}</p>
</div>

<div id="gui_body">
  <!-- Contents will be filled by React. -->
</div>

<script>console.warn("Remember to change to production versions ('*.min.js') of library scripts before deploying.")</script>

<!-- Library scripts -->
<script src="static/js/lib/three/build/three.js"></script>
<script src="static/js/lib/three/examples/js/controls/OrbitControls.js"></script>
<script src="static/js/lib/jquery/dist/jquery.min.js"></script>
<script src="static/js/lib/three/examples/js/Detector.js"></script>
<script src="static/js/lib/d3/build/d3.min.js"></script>
<script src="static/js/lib/socket.io-client/dist/socket.io.js"></script>

<!-- Scripts for React -->
<script src="static/js/lib/react/dist/react.js"></script>
<script src="static/js/lib/react-dom/dist/react-dom.js"></script>
<script src="static/js/lib/babel-standalone/babel.js"></script>

<!-- Scripts for authentication -->
<script src="static/js/hello.js"></script>
<script src="static/js/hbp.hello.js"></script>

<!-- Scripts for the app -->
<script src="static/js/storage.js"></script>
<script src="static/js/authentication.js"></script>
<script src="static/js/storage.js"></script>
<script src="static/js/devicePlots.js"></script>
<script src="static/js/makeBrainRepresentation.js"></script>
<script src="static/js/controls.js"></script>
<script src="static/js/transformControls.js"></script>
<script src="static/js/selectionBox.js"></script>
<script type="text/jsx" src="static/js/GUI.jsx"></script>
<script src="static/js/layerSelect.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
