<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NESTConnectionApp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="static/css/NESTConnectionApp_css.css"/>
        <link rel="stylesheet" href="static/css/devicePlots.css"/>
    </head>

    <body>

        <div id="main_body">
            <div id="info">
                NEST Connection App
                <div id="infoselected"></div>
                <div id="infoconnected"></div>
            </div>
            <div id="select-square"></div>
            <div id="spikeTrain"></div>
        </div>


        <div id="gui_body">
            <!-- Contents will be filled by React. -->
        </div>

        <script type='text/javascript'>console.warn("Remember to change to production versions ('*.min.js') of library scripts before deploying.")</script>

        <script type='text/javascript' src="static/js/lib/three/build/three.js"></script>
        <script type='text/javascript' src="static/js/lib/jquery/dist/jquery.min.js"></script>
        <script type='text/javascript' src="static/js/old_lib/Detector.js"></script>

        <script type='text/javascript' src="static/js/lib/d3/build/d3.min.js"></script>
        <script type='text/javascript' src="static/js/devicePlots.js"></script>

		<script type='text/javascript' src="static/js/makeBrainRepresentation.js"></script>
        <script type='text/javascript' src="static/js/controls.js"></script>
        <script type='text/javascript' src="static/js/selectionBox.js"></script>
        <script type='text/javascript' src="static/js/layerSelect.js"></script>
        <script type='text/javascript' src="static/js/app.js"></script>

        <script type='text/javascript' src="static/js/lib/react/dist/react.js"></script>
        <script type='text/javascript' src="static/js/lib/react-dom/dist/react-dom.js"></script>
        <script type='text/javascript' src="static/js/lib/babel-standalone/babel.js"></script>
        <script type="text/jsx" src="static/js/GUI.jsx"></script>
    </body>
</html>
