<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NESTConnectionApp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="static/css/NESTConnectionApp_css.css"/>
    </head>

    <body>

        <div id="main_body">
            <div id="info">
                NEST Connection App
                <div id="infoselected"></div>
            </div>
            <div id="select-square"></div>
        </div>


        <div id="gui_body">
            <!-- Contents will be filled by React. -->
        </div>

        <!-- 
        Remember to change to production versions ("*.min.js") of library
        scripts before deploying.
         -->
        <script type='text/javascript' src="static/js/lib/three.js"></script>
        <script type='text/javascript' src="static/js/lib/jquery-3.2.1.min.js"></script>
        <script type='text/javascript' src="static/js/lib/Detector.js"></script>
        <script type='text/javascript' src="static/js/lib/OrbitControls.js"></script>
        <script type='text/javascript' src="static/js/lib/dat.gui.min.js"></script>

        <script type='text/javascript' src="static/js/layerSelect.js"></script>

        <script type='text/javascript' src="https://unpkg.com/react@15/dist/react.js"></script>
        <script type='text/javascript' src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
        <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
        <script type="text/jsx" src="static/js/GUI.js"></script>
    </body>
</html>
